.new-room {
  display: center;
  width:400px;
  font-size:16px;
	/* font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
    padding-bottom:10px; */
    /* margin-bottom:5px; */
}